<div class="container">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
			    	<form accept-charset="UTF-8" role="form" style="margin-top: 200px;">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="Username" ng-model="user.name" name="userName" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" ng-model="user.password" type="password" value="">
			    		</div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login" ng-click="submit(user)">
			    	</fieldset>
			      	</form>
		</div>
	</div>
</div>