<div ng-controller="MovieScheduleController" class="pageContent">
    <div class="col-lg-3">
        <div class="panel panel-primary widget">
            <div class="panel-heading widgetHeading">
                <h2>Calendar</h2>
                <div class="widgetHeaderToolbar">
                    <a class="pull-right glyphicon widgetHeaderButton" ng-class="{'glyphicon-chevron-up': showCalendarDiv, 'glyphicon-chevron-down': !showCalendarDiv}" ng-click="showCalendarDiv = !showCalendarDiv"></a>
                </div>
            </div>

            <div class="widgetBody" ng-show="showCalendarDiv">
                <div class="widgetContent calendar">
                    <div style="display:inline-block; height: 345px; overflow: hidden;">
                        <datepicker ng-model="dt" min-date="minDate" show-weeks="false" class="well well-sm"></datepicker>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary widget">
            <div class="panel-heading widgetHeading">
                <h2>Our Movies</h2>
                <div class="widgetHeaderToolbar">
                    <a class="pull-right glyphicon widgetHeaderButton" ng-class="{'glyphicon-chevron-up': showCalendarDiv, 'glyphicon-chevron-down': !showCalendarDiv}" ng-click="showCalendarDiv = !showCalendarDiv"></a>
                </div>
            </div>

            <div class="widgetBody" ng-show="showCalendarDiv">
                <div class="widgetContent">
                    <table class="table">
                        <thead>
                            <tr class="tableHeader">
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <th class="tableSubHeader">
                                    <input type="text" class="input-filter form-control" ng-model="movies_searchName" />
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr dir-paginate="wolfMovie in wolfMovies | filter: {Name: movies_searchName} | itemsPerPage: 4: 'wolfMovies'" pagination-id="wolfMovies">
                            <td ng-mouseenter="show = true" ng-mouseleave="show = false" ng-click="selectMovie(wolfMovie)">{{wolfMovie.Name}}</td>
                            <td><button type="button" class="btn btn-default btn-xs" ng-click="addMovieToSelectedDate(wolfMovie)">Add</button></td>
                        </tr>
                    </table>
                    <dir-pagination-controls template-url="App/directives/pagination/dirPagination.tpl.html" pagination-id="wolfMovies"></dir-pagination-controls>
                </div>
                </div>
            </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-primary widget">
                    <div class="panel-heading widgetHeading">
                        <h2>{{dt | date: shortDate}}</h2>
                        <div class="widgetHeaderToolbar">
                            <a class="pull-right glyphicon widgetHeaderButton" ng-class="{'glyphicon-chevron-up': showCalendarDiv, 'glyphicon-chevron-down': !showCalendarDiv}" ng-click="showCalendarDiv = !showCalendarDiv"></a>
                        </div>
                    </div>
                    <div class="widgetBody">
                        <div class="widgetContent">
                                <table class="table" ng-repeat="showtimes in showtimeDates" >
                                    <thead>
                                        <tr class="tableHeader">
                                            <th>Name</th>
                                            <th>Showtimes</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="showtime in showtimes">
                                        <td>{{showtime.MovieName}}</td>
                                        <td style="min-width: 400px; padding: 0px;"><input style="width: 100%; padding-left: 8px; border: none; height: 100%;" type="text" ng-model="showtime.Showtimes"></td>
                                        <td><button class="btn btn-default btn-xs">Delete</button></td>
                                    </tr>
                                </table>
                    </div>
                    <div class="widgetFooter">
                        <button class="btn btn-default" ng-class="{'activeCopy': copy}" ng-click="copyMode(dt)">Copy</button>
                        <button class="btn btn-default" ng-click="deleteDate(dt)">Delete</button>
                    </div>
                </div>
                
             </div>
                </div>
    <div class="col-lg-3">
        <div class="panel panel-primary widget">
            <div class="panel-heading widgetHeading">
                <h2>Scheduled Dates</h2>
                <div class="widgetHeaderToolbar">
                    <a class="pull-right glyphicon widgetHeaderButton" ng-class="{'glyphicon-chevron-up': showCalendarDiv, 'glyphicon-chevron-down': !showCalendarDiv}" ng-click="showCalendarDiv = !showCalendarDiv"></a>
                </div>
            </div>
            <div class="widgetContent">
                <div class="widgetBody">
                    <table class="table col-lg-3">
                        <thead>
                            <tr class="tableHeader">
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tr dir-paginate="cat in cats | itemsPerPage: 1: 'cat'" pagination-id="cat">
                            <td>{{cat}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs" ng-click="setDate(cat)">Select</button>
                                <button type="button" class="btn btn-default btn-xs" ng-click="deleteDate(cat)">Delete</button>
                            </td>
                        </tr>
                    </table>
                    <dir-pagination-controls template-url="App/directives/pagination/dirPagination.tpl.html" pagination-id="cat"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
    </div>
