<div ng-controller="MoviesController">


                <div class="col-lg-4">
                    <div class="panel panel-primary widget">
                        <div class="panel-heading">
                            <h2>Search</h2>
                            <span class="pull-right glyphicon widgetHeaderButton" ng-class="{'glyphicon-minus': showMovieSearchDiv, 'glyphicon-plus': !showMovieSearchDiv}" ng-click="showMovieSearchDiv = !showMovieSearchDiv"></span>
                        </div>

                        <div class="widgetBody" ng-show="showMovieSearchDiv">
                            <div class="widgetContent movieSearch">
                                <div class="input-group widgetOptions">
                                    <input type="text" placeholder="Search for movies.." class="form-control" ng-model="search.$">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Search</button>
                                    </span>
                                </div>

                                <table class="table borderless table-striped">
                                    <tr class="findMovieResult" ng-repeat="rottenMovie in rottenMovies | filter:search | orderBy: 'title'">
                                        <td ng-click="addMovie(rottenMovie)">{{rottenMovie.title}}</td>
                                        <!---- <td class="movieYear">{{rottenMovie.year}}</td> !---->
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                        <div class="panel panel-primary widget">
                            <div class="panel-heading">
                                <h2>Our Movies</h2>
                                <span class="pull-right glyphicon widgetHeaderButton" ng-class="{'glyphicon-minus': showOurMoviesDiv, 'glyphicon-plus': !showOurMoviesDiv}" ng-click="showOurMoviesDiv = !showOurMoviesDiv"></span>
                            </div>
                            <div class="widgetBody" ng-show="showOurMoviesDiv">
                                <div class="widgetContent ourMovies">
                                    <div class="input-group widgetOptions">
                                        <input type="text" placeholder="Search our movies.." class="form-control" ng-model="searchOurMovies.$">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Search</button>
                                        </span>
                                    </div>
                                    <table class="table table-striped borderless">
                                        <tr class="findMovieResult" ng-repeat="wolfMovie in wolfMovies  | filter:searchOurMovies | orderBy: 'title'">
                                            <td ng-click="selectMovie(wolfMovie)">{{wolfMovie.title}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                         </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="panel panel-primary widget">
                        <div class="panel-heading">
                            <h2>Information</h2>
                            <span class="pull-right glyphicon widgetHeaderButton" ng-class="{'glyphicon-minus': showMovieInformationDiv, 'glyphicon-plus': !showMovieInformationDiv}" ng-click="showMovieInformationDiv = !showMovieInformationDiv"></span>
                        </div>
                        <div class="widgetBody" ng-show="showMovieInformationDiv">
                            <div class="widgetContent movieInformation" >
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            Title: <input class="right" ng-model="selectedMovie.title" />
                                        </li>
                                        <li class="list-group-item">
                                            Year: <input class="right" ng-model="selectedMovie.year" />
                                        </li>
                                        <li class="list-group-item">
                                            Rating: <input class="right" ng-model="selectedMovie.mpaa_rating" />
                                        </li>
                                        <li class="list-group-item">
                                            Runtime: <input class="right" ng-model="selectedMovie.runtime" />
                                        </li>
                                    </ul>
                                <textarea class="well movieDescription" ng-model="selectedMovie.synopsis"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
</div>


