<div ng-controller="MoviesController">   

    <div class="row alertContainer">
        <div class="col-lg-12">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" class="phone-listing">{{alert.message}}</alert>
        </div>
    </div>


  


            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Movie Search</h3>
                        </div>
                        <div class="input-group widgetOptions">
                            <input type="text" placeholder="Search for movies.." class="form-control" ng-model="search.$">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Search</button>
                            </span>
                        </div>

                        <div class="widgetBody">
                            <ul id="findMovieResults" class="findMoviesResults">
                                <li class="findMovieResult" ng-repeat="rottenMovie in rottenMovies  | filter:search | orderBy: 'title'">
                                    <span ng-disabled="{{rottenMovie.isInOurMovies}}" ng-click="addMovie(rottenMovie)">{{rottenMovie.title}} ({{rottenMovie.year}}) </span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
               
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Our Movies</h3>
                        </div>
                        <div class="widgetBody">
                            <ul class="ourMoviesResults">
                                <li class="findMovieResult" ng-repeat="wolfMovie in wolfMovies">
                                    <span>{{wolfMovie.title}}</span>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
</div>
